<div class="footerMargin">
  <div class="bg-gray-50 p-5 shadow-1">
    <div class="flex justify-content-center">
      <a target="_blank" href="https://github.com/Leap2211" class="text-black-alpha-70 hover:text-blue-500 no-underline text-center font-bold text-2xl fadeoutup animation-delay-300 animation-delay-1000">Theng Leap</a>
    </div>
    <div class="flex gap-6 m-6 justify-content-center">
      <a class="text-black-alpha-70 hover:text-blue-500 font-bold no-underline flex flex-column flex-column-reverse gap-3 fadeindown animation-delay-300 animation-delay-1000" target="_blank" href="https://t.me/leap@2211">Telegram
        <i class="pi pi-telegram fadein animation-delay-300 animation-delay-1000" style="font-size:2rem; color: dodgerblue; text-align:center"></i>
      </a>
      <a class="text-black-alpha-70 hover:text-blue-500 font-bold no-underline flex flex-column flex-column-reverse gap-3 fadeindown animation-delay-300 animation-delay-1000" target="_blank" href="mailto::thengleapp@gmail.com">Email
        <i class="pi pi-envelope fadein animation-delay-300 animation-delay-1000" style="font-size:2rem; color: dodgerblue; text-align:center"></i>
      </a>
      <a class="text-black-alpha-70 hover:text-blue-500 font-bold no-underline flex flex-column flex-column-reverse gap-3 fadeindown animation-delay-300 animation-delay-1000" href="tel:+855717736775">Phone Number
        <i class="pi pi-phone" style="font-size: 2rem; color: dodgerblue; text-align:center"></i>
      </a>
      <a class="text-black-alpha-70 hover:text-blue-500 font-bold no-underline flex flex-column flex-column-reverse gap-3 fadeindown animation-delay-300 animation-delay-1000" target="_blank" href="https://facebook.com/leapjr2211">Facebook
        <i class="pi pi-facebook fadein animation-delay-300 animation-delay-1000" style="font-size: 2rem; color: dodgerblue; text-align: center"></i>
      </a>
      <a class="text-black-alpha-70 hover:text-blue-500 font-bold no-underline flex flex-column flex-column-reverse gap-3 fadeindown animation-delay-300 animation-delay-1000" target="_blank" href="https://instagram.com/">Instagram
        <i class="pi pi-instagram fadein animation-delay-300 animation-delay-1000" style="font-size: 2rem; color: dodgerblue; text-align:center"></i>
      </a>
    </div>
  </div>
</div>
