<div>
  <div class="flex justify-content-around">
    <div class="flex align-items-center justify-content-between">
      <p class="scale">
        <a class="no-underline text-black-alpha-70 hover:text-blue-500 text-xl font-bold cursor-pointer fadeindown animation-delay-1000 animation-duration-300 shadow-1 p-2 border-round"
           target="_blank" href="https://github.com/Leap2211">Theng Leap</a>
      </p>
    </div>
    <div class="flex align-items-center gap-4">
      <div class="text-xl text-back-alpha-70 scale font-bold hover:text-blue-500 cursor-pointer hover:bg-gray-100 p-2 border-round fadein animation-delay-300 animation-delay-1000"
           [routerLink]="['/']">Home</div>
      <div class="text-xl text-back-alpha-70 scale font-bold hover:text-blue-500 cursor-pointer hover:bg-gray-100 p-2 border-round fadein animation-delay-300 animation-delay-1000"
           [routerLink]="['projects']">Project</div>
      <div class="text-xl text-back-alpha-70 scale font-bold hover:text-blue-500 cursor-pointer hover:bg-gray-100 p-2 border-round fadein animation-delay-300 animation-delay-1000"
           [routerLink]="['contact']">Contact</div>
    </div>
  </div>
</div>
