<div class="mt-7 p-5">
  <div>
    <div>
      <div class="flex justify-content-center">
        <p class="text-black-alpha-70 hover:text-blue-500 text-xl font-bold cursor-pointer">Project</p>
      </div>
      <div class="grid justify-content-center lg:col-12 md:col-6 sm:col-3 gap-4 p-6 cursor-pointer">
        <div class="flex flex-column bg-gray-50 w-17rem h-17rem gap-5 border-round-xl shadow-1">
          <img class="w-17rem h-17rem fadeoutup animation-delay-1000 animation-duration-300" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1024px-React-icon.svg.png">
          <div class="flex flex-column">
            <p class="font-bold text-center text-lg fadeoutup animation-delay-1000 animation-duration-300">React</p>
            <p class="text-center"><a class="font-bold text-blue-500" href="https://github.com/leap2211">Source Code</a></p>
          </div>
        </div>
        <div class="flex flex-column bg-gray-50 w-17rem h-17rem border-round-xl shadow-1">
          <img class="w-17rem h-17rem fadeoutup animation-delay-1000 animation-duration-300" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png">
          <div class="flex flex-column">
            <p class="font-bold text-center text-lg fadeoutup animation-delay-1000 animation-duration-300">Angular</p>
            <p class="text-center"><a class="font-bold text-blue-500" href="https://github.com/leap2211">Source Code</a></p>
          </div>
        </div>
        <div class="flex flex-column bg-gray-50 w-17rem h-17rem border-round-xl shadow-1">
          <img class="w-17rem h-17rem fadeoutup animation-delay-1000 animation-duration-300" src="https://www.svgrepo.com/show/376344/python.svg">
          <div class="flex flex-column">
            <p class="font-bold text-center text-lg fadeoutup animation-delay-1000 animation-duration-300">Python</p>
            <p class="text-center"><a class="font-bold text-blue-500" href="https://github.com/leap2211">Source Code</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
