<div class="mt-7 bg-gray-50 p-4">
  <div class="flex justify-content-evenly align-items-center">
    <div class="flex flex-column align-items-center">
      <p class="inline-block fadeindown animation-duration-300 animation-delay-1000">
        <a target="_blank" class="no-underline text-blue-500 hover:text-black-alpha-70 font-bold text-3xl"
           href="https://github.com/Leap2211">Theng Leap</a>
        </p>
      <p class="font-semibold text-xl fadeindown animation-duration-300 animation-delay-1000">Innovating the future with a deep passion for tech and software development.</p>
      <div class="fadein animation-delay-1000 animation-duration-400">
        <p-button (onClick)="onContact()" label="Contact"></p-button>
      </div>
    </div>
    <div class="flex align-items-center">
      <img class="border-round-xl shadow-1 scale fadeindown animation-delay-1000" width="600" src="https://z-p3-scontent.fpnh18-4.fna.fbcdn.net/v/t39.30808-6/316265199_3265046837132107_3679455707584531343_n.jpg?stp=dst-jpg_s206x206&_nc_cat=105&ccb=1-7&_nc_sid=fe5ecc&_nc_eui2=AeHLDgBpHzx17P1dQfkZFdif3muqVwGqcazea6pXAapxrCIIu7K-a7MSrRO6ltC3JUl9Vhl1O50AokS2dPBtn6wI&_nc_ohc=5bRl2t0SC3sQ7kNvgG9gx6H&_nc_zt=23&_nc_ht=z-p3-scontent.fpnh18-4.fna&oh=00_AYAF18HKzNncO2w2Eukr2gkSV6xMvSZkUuGsexAJgnxHhg&oe=66D49391" alt="Image"/>
    </div>
  </div>
</div>
